* {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  position: relative; }

input::-webkit-datetime-edit {
  color: #b7b6b6; }

input:blur::-webkit-datetime-edit {
  color: #353839; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; }

input, textarea, select, button, span, div {
  outline: none !important; }

input {
  color: #353839; }

body {
  background-image: url(../images/brickwall.png);
  margin: 0;
  padding: 0;
  height: 100%; }

footer {
  background-color: #ff5f36;
  height: 150px;
  width: 100%;
  margin-top: 40px;
  position: absolute;
  bottom: -150px;
  margin-top: 150px; }
  footer .navbar {
    padding-top: 20px;
    padding-bottom: 20px; }
  footer .copyright {
    color: rgba(255, 255, 255, 0.4); }

h2 {
  font-family: Courier New;
  font-weight: bold;
  color: #ff5f36;
  letter-spacing: 1px;
  text-align: center; }

h3, b {
  font-family: Courier New;
  font-weight: bold;
  color: #ff5f36;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px; }

h4 {
  font-family: Helvetica;
  color: #ff5f36;
  font-size: 20px; }

h5 {
  font-family: Helvetica;
  font-weight: bold;
  color: #ff5f36;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px; }

p {
  font-family: helvetica;
  color: #ff5f36; }

img {
  vertical-align: top; }

.disable {
  background-color: red; }

.error_field {
  font-weight: bold; }

.login_group .error_field {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px; }

table, tr, td {
  display: block; }

.hide {
  display: none; }

.btn {
  border-radius: 10px; }

.orange_button:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none; }

.small_container {
  width: 50%;
  margin: 0 auto; }

.center_button {
  width: 108px;
  margin: 0 auto; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #ff5f36; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
  border-color: white; }

.navbar-toggle:hover .icon-bar {
  background-color: white;
  color: white; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #ff5f36; }

#nav_alignment {
  margin: 0 auto;
  width: 106.5px; }

#header_nav_id {
  margin-top: 5px;
  margin-bottom: 5px; }
  #header_nav_id a {
    color: white;
    padding: 8px 25px;
    letter-spacing: 2px; }
  #header_nav_id a:hover {
    color: #ff5f36; }
  #header_nav_id li {
    display: block; }
  #header_nav_id .activepage {
    color: #ff5f36; }

#footer_nav_id {
  margin-top: 5px;
  margin-bottom: 5px; }
  #footer_nav_id a {
    color: white;
    padding: 8px 25px;
    letter-spacing: 2px; }
  #footer_nav_id a:hover {
    color: rgba(255, 255, 255, 0.6); }
  #footer_nav_id li {
    display: block; }
  #footer_nav_id .activepage {
    color: rgba(255, 255, 255, 0.6); }

.text_centered {
  text-align: center; }

.standard_button {
  box-sizing: border-box;
  background: linear-gradient(#ff5f36, #ff6c47, #fea690, #fcd0c5, #fea690, #ff6c47, #ff5f36);
  padding: 10px 20px 10px 20px;
  display: inline;
  border-radius: 10px;
  border: solid white 2px;
  color: white;
  text-align: center;
  font-family: helvetica;
  letter-spacing: 2px; }
  .standard_button input {
    color: white;
    border: none;
    background: none; }

.register_group .register_button {
  box-sizing: border-box;
  background: linear-gradient(#ff5f36, #ff6c47, #fea690, #fcd0c5, #fea690, #ff6c47, #ff5f36);
  padding: 10px 20px 10px 20px;
  display: inline;
  border-radius: 10px;
  border: solid white 2px;
  text-align: center;
  font-family: helvetica;
  letter-spacing: 2px; }
  .register_group .register_button input {
    color: white;
    border: none;
    background: none; }
.register_group .small_container {
  width: 80%; }
.register_group a {
  color: #ff5f36;
  font-weight: bold; }
.register_group table {
  display: block;
  width: 100%; }
  .register_group table tbody {
    display: block;
    width: 100%; }
  .register_group table tr {
    width: 100%;
    display: block; }
    .register_group table tr td {
      width: 100%;
      display: block; }
      .register_group table tr td input {
        width: 100%; }
  .register_group table .register_row_one {
    margin-bottom: 40px;
    vertical-align: top; }
  .register_group table .register_row_two {
    margin-bottom: 40px;
    vertical-align: top; }
.register_group .left_side {
  margin-bottom: 5px; }
.register_group .right_side {
  margin-bottom: 20px;
  vertical-align: top; }

.profile_group .edit_details_group {
  margin-bottom: 20px; }
.profile_group .listing_summary {
  display: block; }
.profile_group .review_box p {
  margin: 0px; }

.register_button_group {
  width: 115px;
  min-width: 115px;
  margin: 0 auto; }

.login_button {
  width: 87px;
  margin: 0 auto; }

.gap {
  margin-top: 20px; }

.large_gap {
  margin-top: 40px; }

.side_gap {
  margin-right: 20px; }

.large_side_gap {
  margin-right: 16.66%; }

.home_group {
  margin: 0 auto;
  padding-top: 20px; }
  .home_group .featured_property {
    width: 280px;
    display: block;
    margin: 0 auto; }
    .home_group .featured_property .div_img_placeholder {
      background-color: grey;
      height: 180px;
      width: 100%; }
    .home_group .featured_property .div_rating_placeholder {
      height: 50px;
      width: 100%; }

.special_container {
  width: 90%;
  margin: 0 auto; }
  .special_container .table_container {
    width: 100%;
    background-color: white;
    border: solid 1px transparent;
    border-color: #b7b6b6;
    border-radius: 10px;
    padding-bottom: 20px; }
    .special_container .table_container .review_table {
      width: 100%;
      border-spacing: 0;
      color: #ff5f36;
      text-align: center;
      box-sizing: border-box;
      margin-bottom: 15px; }
      .special_container .table_container .review_table tbody {
        width: 100%;
        max-width: 510px;
        padding: 0 15px 0 15px;
        display: block;
        margin: 0 auto; }
      .special_container .table_container .review_table tr {
        width: 100%;
        display: block; }
        .special_container .table_container .review_table tr h5 {
          box-sizing: border-box;
          font-family: Helvetica;
          font-weight: bold;
          color: #ff5f36;
          font-size: 14px;
          margin-bottom: 0px;
          text-align: left;
          vertical-align: bottom; }
      .special_container .table_container .review_table p {
        color: #b7b6b6;
        font-size: 12px;
        letter-spacing: 1px; }
      .special_container .table_container .review_table .td_title {
        display: block;
        width: 100%; }
        .special_container .table_container .review_table .td_title h5 {
          text-align: center; }
      .special_container .table_container .review_table .td_subtitle {
        display: inline-block;
        width: 30%;
        margin-top: 40px; }
      .special_container .table_container .review_table .td_radios {
        display: inline-block;
        width: 40%; }
      .special_container .table_container .review_table .left_side {
        text-align: right;
        padding-right: 5px; }
      .special_container .table_container .review_table .right_side {
        text-align: left;
        padding-left: 5px; }
      .special_container .table_container .review_table span {
        color: #ff5f36;
        letter-spacing: 4px;
        text-align: center; }

.rating_radio_button[type='radio']:after {
  width: 16px;
  height: 16px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ff5f36; }

.rating_radio_button[type='radio']:checked:after {
  width: 16px;
  height: 16px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #ff5f36;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ff5f36; }

.rating_radio_button[type='radio'] {
  margin-right: 3.5px; }

.radio_buttons_group {
  padding: 0px 5px;
  text-align: center;
  min-width: 95px; }

.inline {
  display: inline-block; }

.small_banner {
  background-image: url(../images/banner.jpg);
  height: 356px; }

.nav_background {
  background-color: rgba(0, 0, 0, 0.4); }

#navbar_default_override {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0px; }

#nav_right {
  float: right; }

#header_nav_id > div {
  margin: 0px 40px; }

#footer_nav_id > div {
  margin: 0px 40px; }

#write_review_btn {
  color: white; }

#write_review_btn:hover {
  color: rgba(255, 255, 255, 0.7) !important; }

.write_review_button_group {
  margin-left: -30px;
  width: 200px; }
  .write_review_button_group .orange_button {
    box-sizing: border-box;
    background: linear-gradient(#ff5f36, #ff6c47, #fea690, #fcd0c5, #fea690, #ff6c47, #ff5f36);
    border-radius: 10px;
    border: solid white 2px;
    margin: 0 auto;
    width: 200px; }

.small_gap {
  margin-top: 8px; }

.last_listing {
  margin-right: 0px; }

.group {
  margin-top: 50px;
  margin-bottom: 50px; }

.home_logo {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2%; }
  .home_logo img {
    width: 100%;
    max-width: 1000px;
    margin-top: 10%;
    margin-bottom: 1%; }
  .home_logo .search_bar {
    box-sizing: border-box;
    height: 38px; }
  .home_logo .search_name {
    border: solid 1px;
    border-color: #b7b6b6;
    background-color: white;
    margin-top: -3px; }
  .home_logo .orange_button {
    box-sizing: border-box;
    background: linear-gradient(#ff5f36, #ff6c47, #fea690, #fcd0c5, #fea690, #ff6c47, #ff5f36);
    border-radius: 10px;
    border: solid white 2px;
    margin: 0 auto;
    width: 200px; }
  .home_logo .orange_button:hover {
    cursor: pointer; }
  .home_logo .search_group .bootstrap-select > select {
    left: 0; }

.search_field_group {
  width: 40%; }

.search_field {
  width: 100%;
  display: block;
  margin: 0 auto; }

.search_area {
  position: relative; }
  .search_area .search_area_div {
    width: 100% !important;
    height: 37px; }
    .search_area .search_area_div .dropdown-menu {
      z-index: 1;
      border: solid #b7b6b6 1px;
      border-radius: 0px 0px 10px 10px; }
  .search_area .bootstrap-select {
    width: 100%; }
  .search_area button {
    padding-left: 90px;
    height: 38px !important;
    top: -1px !important;
    border: solid 1px !important;
    border-color: #b7b6b6 !important;
    padding-top: 10px;
    z-index: 1000; }
  .search_area select {
    border: transparent;
    background: transparent;
    width: 80%; }
  .search_area select:caret {
    display: none; }
  .search_area .search_span {
    position: absolute;
    z-index: 1000;
    padding-left: 15px;
    padding-top: 10px; }

.search_field > span {
  min-width: 70px;
  display: inline-block; }

.search_bar > button {
  border-radius: 10px 10px 0px 0px; }

.search_name {
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 10px; }

.search_bar > input {
  padding-top: 5px;
  margin-left: 5px;
  border: solid 1px transparent;
  font-family: Courier New;
  font-size: 13px;
  height: 100%;
  outline: none; }

.search_bar > input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  width: 100px;
  visibility: hidden; }

.search_bar > input::-moz-placeholder {
  /* Firefox 19+ */
  visibility: hidden; }

.search_bar > input:-ms-input-placeholder {
  /* IE 10+ */
  visibility: hidden; }

.search_bar > input:-moz-placeholder {
  /* Firefox 18- */
  visibility: hidden; }

.search_bar > span, .search_span {
  font-family: Courier New;
  color: #ff5f36;
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px; }

.search_bar_group {
  max-width: 1000px;
  margin: 0 auto; }

.search_button {
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  padding: 5px;
  color: white;
  font-family: Courier New;
  font-size: 21px;
  text-align: center;
  border: transparent;
  background-color: transparent; }

.search_button:hover {
  color: rgba(255, 255, 255, 0.6); }

.register_field {
  box-sizing: border-box;
  height: 40px;
  background-color: white;
  border: solid 1px;
  border-color: #b7b6b6;
  padding-left: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: block; }

.review_field {
  box-sizing: border-box;
  height: 40px;
  background-color: white;
  border: solid 1px;
  border-color: #b7b6b6;
  display: inline-block;
  padding-left: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  width: 100%; }

.auto_field {
  background-color: rgba(183, 182, 182, 0.3);
  border-color: rgba(183, 182, 182, 0.3); }

.login_group .login_field {
  width: 100%; }

.review_dropdown_sml {
  width: 60%;
  margin-bottom: 0px; }

.review_dropdown_med {
  width: 180px;
  margin-bottom: 0px; }

.caret_box {
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
  height: 40px;
  border: solid 1px;
  border-color: #b7b6b6;
  padding: 10px 15% 10px 10%;
  color: #b7b6b6;
  float: right;
  margin-top: -1px;
  margin-right: -1px; }

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  display: inline-block;
  height: 40px; }

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  height: 40px;
  z-index: 1; }

.dropdown > .review_dropdown_managed_by {
  max-width: 100%; }

td {
  display: inline-block; }

#review_form .property_feature_group {
  display: block;
  padding: 0px;
  margin-bottom: 10px;
  width: 100%;
  margin-top: 20px; }
  #review_form .property_feature_group .dropdown-menu {
    min-width: 100px;
    cursor: pointer;
    position: static;
    z-index: 1000; }
#review_form .dropdown > .review_dropdown_features {
  max-width: 70%; }
#review_form #address {
  width: 100%;
  display: block; }
  #review_form #address tbody, #review_form #address tr {
    display: block;
    width: 100%; }
#review_form .bedrooms_dropdown {
  z-index: 1000; }
#review_form .bathrooms_dropdown {
  z-index: 900; }
#review_form .garage_carport_dropdown {
  z-index: 800; }
#review_form .managed_by_dropdown {
  z-index: 700; }
#review_form .rental_period_start .field, #review_form .rental_period_end .field, #review_form .last_recorded_rate .field {
  color: #353839; }
#review_form .last_recorded_rate .weekly_rate {
  height: 100%;
  border: transparent; }
#review_form .last_recorded_rate span {
  color: #b7b6b6; }

.property_feature_icon {
  display: inline-block;
  margin-left: 5px;
  width: 40px; }

.managed_by_group {
  padding: 0px;
  width: 100%;
  display: block; }

.managed_by_group > .dropdown {
  width: 100% !important; }

.managed_by_group > .dropdown > div {
  color: #b7b6b6; }

.managed_by_group > .dropdown > div > .caret_box {
  margin-top: -11px; }

.managed_by_icon_one > .dropdown > .review_dropdown_managed_by {
  width: 100% !important; }

.managed_by_icon_two > .review_field {
  margin-bottom: 0px; }

textarea {
  resize: none;
  box-sizing: border-box;
  height: 180px;
  width: 100%;
  background-color: white;
  border: solid 1px;
  border-color: #b7b6b6;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 15px; }

.camera_icon_box {
  box-sizing: border-box;
  background-color: white;
  border: solid 1px;
  border-color: #b7b6b6;
  display: inline-block;
  width: 47.5%;
  height: 70px;
  min-width: 70px;
  border-radius: 10px;
  margin-bottom: 25px; }
  .camera_icon_box .camera_icon {
    height: 70px;
    width: 100%;
    background: url(../images/camera.png) no-repeat center center;
    cursor: pointer;
    position: relative; }
    .camera_icon_box .camera_icon span {
      position: absolute;
      width: 100%;
      text-align: center;
      padding: 15px; }
      .camera_icon_box .camera_icon span i {
        background-color: white;
        color: #ff5f36;
        display: block; }
      .camera_icon_box .camera_icon span .fa-picture-o {
        font-size: 30px; }
      .camera_icon_box .camera_icon span .fa-check {
        font-size: 20px; }

.uploaded_image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.uploaded_image:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

.camera_two, .camera_four, .camera_six {
  margin-right: 0px; }

.camera_one, .camera_three, .camera_five {
  margin-right: 5%; }

.search_results_box .review_box p {
  margin: 0px; }

.listing_small_container {
  height: 113px; }

.listing_container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 90%;
  display: block;
  padding: 0 15px;
  margin-top: 20px;
  vertical-align: text-top; }
  .listing_container .sml_img {
    display: block;
    width: 80%; }
  .listing_container .lrg_img {
    display: block;
    padding-top: 10px;
    /*background-color: grey;*/
    width: 100%;
    height: 368px; }
  .listing_container .lrg_rating {
    width: 230px;
    height: 50px; }
    .listing_container .lrg_rating img {
      width: 100%; }
  .listing_container .gallery_thumbnail {
    box-sizing: border-box;
    height: 80px;
    width: 20%;
    background-color: grey;
    display: inline-block;
    border: solid white 1px; }
  .listing_container .listing_review_box .listing_detail {
    margin: 0px; }
  .listing_container .listing_review_box > .listing_detail:nth-child(2) {
    padding-top: 20px; }
  .listing_container .listing_review_text p {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    font-style: italic; }
  .listing_container .icon {
    width: 80px;
    margin-top: -5px; }
  .listing_container .last_recorded_rate {
    padding-left: 0px; }
  .listing_container .rate_amount {
    margin-top: 10px; }
  .listing_container h2 {
    text-align: left; }
  .listing_container h3 {
    width: 100%;
    display: block;
    text-align: left;
    padding: 0px; }
  .listing_container .ratings_table {
    width: 180px;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    margin: 0 auto; }
    .listing_container .ratings_table tbody {
      width: 100%;
      display: block; }
    .listing_container .ratings_table .individual_rating {
      display: block;
      width: 100%;
      text-align: center; }
    .listing_container .ratings_table .rating_icons {
      width: 100%;
      display: block; }
    .listing_container .ratings_table p {
      font-family: Courier New;
      padding-left: 5px;
      margin-bottom: 0px; }
    .listing_container .ratings_table td {
      padding: 0px; }
    .listing_container .ratings_table i {
      font-size: 12px; }
  .listing_container .other_listings_table {
    margin-top: 15px; }
    .listing_container .other_listings_table p, .listing_container .other_listings_table h3 {
      margin-bottom: 0px;
      margin-left: 15px;
      font-family: Courier New; }
    .listing_container .other_listings_table h3 {
      margin-top: 8px; }
    .listing_container .other_listings_table tr {
      display: block;
      padding-bottom: 15px; }

.boxed_text {
  color: white;
  background-color: #ff5f36;
  padding: 5px 5px 5px 15px; }

.map {
  display: block;
  width: 100%; }

#locationField {
  /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
  /* Optional: Makes the sample page fill the window. */ }
  #locationField #map {
    height: 100%; }
  #locationField #autocomplete {
    width: 100%; }
  #locationField .label {
    text-align: right;
    font-weight: bold;
    width: 100px;
    color: #303030; }
  #locationField #address {
    border: 1px solid #000090;
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px; }
  #locationField #address td {
    font-size: 10pt; }
  #locationField .field {
    width: 99%; }
  #locationField .slimField {
    width: 80px; }
  #locationField .wideField {
    width: 200px; }

#locationField, #controls {
  width: 100%; }

.hide {
  display: none; }

.field {
  color: #b7b6b6; }

@media screen and (min-width: 380px) {
  .property_feature_group {
    width: 120px !important;
    margin: 0 auto; }

  .dropdown > .review_dropdown_features {
    max-width: 55% !important; }

  .listing_container .last_recorded_rate {
    padding-left: 0px;
    text-align: left;
    width: 60%;
    display: inline-block; }
  .listing_container .rate_amount {
    margin-top: 10px;
    text-align: right;
    width: 40%;
    display: inline-block;
    margin-top: 40px; }
  .listing_container h3 {
    width: 100%;
    display: inline-block;
    padding: 0px; }

  .individual_rating {
    display: inline-block;
    width: 50%; }

  .rating_icons {
    width: 35%;
    display: inline-block; } }
@media screen and (min-width: 480px) {
  .camera_icon_box {
    width: 30%;
    min-width: 70px; }

  .camera_three, .camera_six {
    margin-right: 0px; }

  .camera_one, .camera_two, .camera_four, .camera_five {
    margin-right: 5%; }

  .home_logo {
    width: 80%; }

  h2 {
    text-align: left; }

  .managed_by_icon_one {
    margin-right: 5% !important;
    width: 47.5%;
    display: inline-block; }

  .managed_by_icon_two {
    width: 47.5%;
    display: inline-block; }

  .managed_by_icon_three {
    width: 100%;
    display: inline-block; }

  .register_group .small_container {
    width: 50%; }

  .listing_container .ratings_table {
    width: 100%; }
    .listing_container .ratings_table .rating_icons {
      display: inline-block;
      width: 45%; }
    .listing_container .ratings_table .individual_rating {
      display: inline-block;
      width: 55%; }
      .listing_container .ratings_table .individual_rating p {
        text-align: left; } }
@media screen and (min-width: 650px) {
  .property_feature_group {
    display: inline-block; }

  .property_feature_group {
    box-sizing: border-box;
    display: inline-block !important;
    width: 32% !important; }

  .property_feature_icon_one, .property_feature_icon_two {
    margin-right: 2% !important; }

  .icon_one {
    z-index: 1000; }

  .dropdown > .review_dropdown_features {
    max-width: 48px; }

  .listing_container {
    width: 70%; }

  .home_logo img {
    margin-top: 5%; }

  .dates_and_price_group {
    width: 30% !important;
    display: inline-block !important; }

  .rental_period_start, .rental_period_end {
    margin-right: 5%; } }
@media screen and (min-width: 768px) {
  .search_area_div > .dropdown-menu {
    margin-top: -3px; }

  .search_area_div {
    height: 40px !important; }

  .search_area {
    height: 38px !important; }

  .register_group .right {
    margin-left: 10%;
    margin-top: 20px; }
  .register_group table td {
    width: 100%;
    display: block; }

  .search_name, .search_area {
    width: 50%;
    display: inline-block; }

  .search_bar > button {
    border-radius: 10px 0px 0px 10px; }

  .search_name {
    border-radius: 0px 10px 10px 0px;
    margin-top: 0px; }

  .home_group {
    width: 595px; }
    .home_group .featured_property {
      display: inline-block; }
    .home_group .featured_property:nth-child(2) {
      margin-left: -4px; }
    .home_group .featured_property:nth-child(3) {
      margin-left: -4px; }
    .home_group .featured_property:nth-child(4) {
      margin-left: -4px; }
    .home_group .featured_property:nth-child(odd) {
      margin-right: 5%; }
    .home_group .featured_property a:hover {
      text-decoration: none; }

  #address td {
    width: 45%;
    display: inline-block; }
    #address td .review_field {
      width: 100%; }
  #address .gap_right {
    margin-right: 10%; }

  .table_container {
    background-color: white;
    border: solid 1px transparent;
    border-color: #b7b6b6;
    border-radius: 10px;
    padding-bottom: 20px; }
    .table_container .review_table {
      border-spacing: 0;
      color: #ff5f36;
      text-align: center;
      box-sizing: border-box;
      /*padding-left: 15px;*/
      margin-bottom: 15px; }
      .table_container .review_table tr h5 {
        box-sizing: border-box;
        font-family: Helvetica;
        font-weight: bold;
        color: #ff5f36;
        font-size: 14px;
        margin-bottom: 0px;
        text-align: left;
        vertical-align: bottom; }
      .table_container .review_table p {
        color: #b7b6b6;
        font-size: 12px;
        letter-spacing: 1px; }
      .table_container .review_table td {
        padding: 0px; }
      .table_container .review_table .left_side {
        text-align: right; }
      .table_container .review_table .right_side {
        text-align: left;
        padding-right: 15px; }
      .table_container .review_table span {
        color: #ff5f36;
        letter-spacing: 4px;
        text-align: center; }

  .camera_icon_box {
    width: 15%;
    min-width: 50px; }

  .camera_six {
    margin-right: 0px; }

  .camera_one, .camera_two, .camera_three, .camera_four, .camera_five {
    margin-right: 2%; }

  .special_container {
    width: 50%; }

  .managed_by_group {
    display: inline-block; }

  .property_feature_icon_one, .property_feature_icon_two {
    margin-right: 5% !important; }

  .property_feature_group {
    width: 30% !important; }

  .dropdown > .review_dropdown_features {
    max-width: 65px; }

  .camera_icon span {
    padding: 10px !important; } }
@media (max-width: 990px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
@media screen and (min-width: 990px) {
  .navbar-nav {
    float: right; }

  #header_nav_id a {
    margin: 0px 20px; }
  #header_nav_id li {
    display: inline-block; }

  #footer_nav_id a {
    margin: 0px 20px; }
  #footer_nav_id li {
    display: inline-block; }

  #nav_alignment {
    width: 100%;
    float: right; }

  .search_bar > input {
    width: 75%; }

  .search_bar > input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    visibility: visible; }

  .search_bar > input::-moz-placeholder {
    /* Firefox 19+ */
    visibility: visible; }

  .search_bar > input:-ms-input-placeholder {
    /* IE 10+ */
    visibility: visible; }

  .search_bar > input:-moz-placeholder {
    /* Firefox 18- */
    visibility: visible; }

  .register_group table {
    width: 100%; }
    .register_group table tr {
      width: 100%;
      display: block; }
      .register_group table tr td {
        width: 45%;
        display: inline-block; }
        .register_group table tr td input {
          width: 100%; }
    .register_group table .register_row_one {
      margin-bottom: 0px; }
    .register_group table .register_row_two {
      margin-bottom: 0px; }
  .register_group .left_side {
    margin-bottom: 0px; }
    .register_group .left_side input {
      margin-top: 0px; }
  .register_group .right_side {
    margin-bottom: 0px;
    margin-left: 10%; }
    .register_group .right_side input {
      margin-top: 0px; }

  .listing_container {
    width: 50%; }

  .camera_icon span {
    padding: 15px; } }
@media screen and (min-width: 1000px) {
  .dropdown > .review_dropdown_features {
    max-width: 80px; }

  .home_logo img {
    margin-top: 1%; } }
@media screen and (min-width: 1200px) {
  .home_group {
    width: 100%; }
    .home_group .featured_property:nth-child(odd) {
      margin-right: 5%; }
    .home_group .featured_property:nth-child(2) {
      margin-right: 5%; }
    .home_group .featured_property {
      width: 21.25%; }

  .home_logo .search_group .orange_button {
    display: inline-block;
    width: 140px; }
  .home_logo .search_group .search_name, .home_logo .search_group .search_area {
    width: 40%;
    display: inline-block; }
  .home_logo .search_group .search_bar_gap {
    margin-left: 2%;
    padding-left: 28px;
    padding-right: 28px; }
  .home_logo .search_group .dropdown {
    width: 100%; }
    .home_logo .search_group .dropdown .btn-group {
      width: 100%; }
      .home_logo .search_group .dropdown .btn-group .btn {
        border-radius: 10px 0px 0px 10px;
        padding-left: 25%;
        height: 40px;
        padding-top: 0px;
        padding-bottom: 0px; }
      .home_logo .search_group .dropdown .btn-group span {
        height: 40px;
        padding-top: 9px; }

  #header_nav_id a {
    margin: 0px 40px; }

  #footer_nav_id a {
    margin: 0px 40px; }

  .login_group .gap_right {
    margin-right: 10%; }
  .login_group .login_field {
    display: inline-block;
    width: 45%; }

  .dropdown > .review_dropdown_features {
    max-width: 80px; }

  .managed_by_icon_one {
    margin-right: 5% !important;
    width: 20%;
    display: inline-block; }

  .managed_by_icon_two {
    margin-right: 5% !important;
    width: 35%;
    display: inline-block; }

  .managed_by_icon_three {
    width: 35%;
    display: inline-block; }

  .listing_container {
    width: 50%;
    display: inline-block; }
    .listing_container .sml_img {
      display: block; }
    .listing_container .lrg_img {
      display: block; }
    .listing_container .listing_review_box .listing_detail {
      margin: 0px; }
    .listing_container .listing_review_box > .listing_detail:nth-child(2) {
      padding-top: 20px; }
    .listing_container .listing_review_text p {
      padding-left: 15px;
      font-style: italic; }
    .listing_container .icon {
      width: 80px;
      margin-top: -5px; }
    .listing_container .last_recorded_rate {
      padding-left: 0px; }
    .listing_container .ratings_table {
      border-collapse: collapse;
      border-spacing: 0;
      box-sizing: border-box; }
      .listing_container .ratings_table p {
        font-family: Courier New;
        padding-left: 5px;
        margin-bottom: 0px; }
      .listing_container .ratings_table td {
        padding: 0px; }
      .listing_container .ratings_table i {
        font-size: 12px; }
    .listing_container .other_listings_table {
      width: 100%; }
      .listing_container .other_listings_table p, .listing_container .other_listings_table h3 {
        margin-bottom: 0px;
        font-family: Courier New;
        padding-left: 15px; }
      .listing_container .other_listings_table tr {
        display: block;
        padding-bottom: 15px; }
      .listing_container .other_listings_table td {
        display: inline-block;
        width: justify; } }

/*# sourceMappingURL=style.css.map */
